In [1]:
import sqlite3

In [2]:
query = '''
create table student2
(
    course varchar(20),
    courseid integer,
    markObtained real
);
'''

In [3]:
con = sqlite3.connect(':memory:')

In [4]:
con.execute(query)

In [5]:
con.commit()

In [7]:
data = [('DataScience', '19CSE432', 37.7, 50),
('Algorithm', '19CSE312', 44.4, 50),
('Database', '19CSE989', 42.7, 50)]

stmt = "INSERT INTO student2 VALUES(?, ?, ?, ?)"
con.executemany(stmt, data)
con.commit()

OperationalError: table student2 has 3 columns but 4 values were supplied

In [8]:
cursor = con.execute('select * from student222’)
rows = cursor.fetchall()

SyntaxError: EOL while scanning string literal (<ipython-input-8-3bf309319c01>, line 1)